

<!-- lang=en par defaut, sinon on prend la langue de l'urlLLL -->
<!-- on cherche le numero de rubrique/secteur de la langue selectionnee -->


<!-- BLOC HEADER -->
<div id="b_header">

  <div class="topbar">
    <a href="http://www.sofrecom.com" title="Le site Sofrecom"><img src="squelettes/images/common/sofrecom_toplogo.png" title=""> LE SITE</a>
    <a href="http://welcome.com.intraorange/" title="le portail Orange"><img src="squelettes/images/common/orange-logo.gif" title=""> LE PORTAIL</a>
  </div>

  <header>
    <h1><a href="http://soflink.sofrecom.fr?lang=fr" title="Accueil intranet Sofrecom"><img src="squelettes/images/common/logo_sofrecom.png" title="Sofrecom - The Know-How Network"></a></h1>
    <h2>SOF'<span>LINK</span></h2>
    <a href="http://soflink.sofrecom.fr?lang=en" id="lang" title="Switch to english version"><img src="squelettes/images/common/flag_en_small.png" title="Switch to english version"></a>
  </header>

  <nav>
    <ul id="menu">

      <li class=""><a href="-actualite-" class="bt_nav" id="menu_3" title="Actualité">Actualité</a></li>

      <li class=""><a href="-sofrecom-" class="bt_nav" id="menu_52" title="Sofrecom">Sofrecom</a></li>

      <li class=""><a href="-groupe-orange-" class="bt_nav" id="menu_43" title="Marque &amp; Communication">Marque &amp; Communication</a></li>

      <li class=""><a href="-cote-clients-" class="bt_nav" id="menu_31" title="Côté clients">Côté clients</a></li>

      <li><a href="-sof-pratic-" class="bt_nav" id="menu_8" title="Sof’Pratic">Sof’Pratic</a></li>

      <li class=""><a href="-sof-pays-" class="bt_nav" id="menu_962" title="Sof’Pays">Sof’Pays</a></li>

      <li class=""><a href="-orange-innovation-" class="bt_nav" id="menu_968" title="Orange Innovation">Orange Innovation</a></li>

    </ul>
  </nav>
</div><!-- FIN bloc header -->

<!-- MASTERMENU -->
<div id="mastermenu_3" class="mastermenu" style="display: none;">
  <nav id="1_3" class="lev1">
    <ul>


      <li>


        <a href="-toute-l-actu-">Toute l’actu</a>




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































        <ul class="lev3">
          <li><a href="du-1er-au-30-septembre-2022">Du 1er au 30 septembre 2022, nouvelle campagne de recrutement Orange Expert</a></li>

          <li><a href="evolution-de-la-telephonie-fixe">Evolution de la téléphonie fixe</a></li>

          <li><a href="une-rentree-en-toute-securite">Une rentrée en toute Sécurité, soyons vigilant&nbsp;!</a></li>

          <li><a href="sofrecom-services-maroc-franchit">Plus de 800 collaborateurs à Sofrecom Maroc&nbsp;!</a></li>









































































































































































































































































































































































































































































































































































































































































































































































































































































































































          <li class="all"><a href="-toute-l-actu-">Tous les articles (456)</a></li>

        </ul>

      </li>


      <li>


        <a href="-orange-info-">Orange info</a>




















































































































































































































































































































































































































































































































        <ul class="lev3">
          <li><a href="des-maintenant-vous-pouvez">Dès maintenant, vous pouvez adresser vos questions à Christel Heydemann et Michaël Trabbia</a></li>

          <li><a href="save-the-date-live-mickael-trabbia">Save the date&nbsp;: Live Mickael Trabbia le 2 juin</a></li>

          <li><a href="10-questions-a-christel-heydemann-3161">«&nbsp;10 questions à Christel Heydemann&nbsp;», Directeur Générale du Groupe Orange, en replay</a></li>

          <li><a href="jacques-aschenbroich-propose-comme">Jacques Aschenbroich proposé comme administrateur et futur Président non exécutif du Groupe</a></li>









































































































































































































































































































































































































































































































          <li class="all"><a href="-orange-info-">Tous les articles (248)</a></li>

        </ul>

      </li>


      <li>

        <a href="-sof-news-">Sof’News</a>



        <ul class="lev2">



          <li><a href="-sof-news-les-lettres-mensuelles-">Sof’News&nbsp;: les lettres mensuelles</a></li>











        </ul>

      </li>


      <li>


        <a href="-covid19-">Covid19</a>






















        <ul class="lev3">
          <li><a href="nouvel-assouplissement-des">Nouvel assouplissement des consignes de prévention de la Covid-19</a></li>

          <li><a href="consignes-de-prevention-de-la">Consignes de prévention de la Covid-19</a></li>

          <li><a href="dispositions-et-mesures">Travailler sur site</a></li>

          <li><a href="coronavirus-message-de-guillaume">CORONAVIRUS - Message de Guillaume Boudin</a></li>











          <li class="all"><a href="-covid19-">Tous les articles (9)</a></li>

        </ul>

      </li>



    </ul>
  </nav>

  <div class="clear"></div>
</div>

<div id="mastermenu_52" class="mastermenu" style="display: none;">
  <nav id="1_52" class="lev1">
    <ul>


      <li>

        <a href="-notre-organisation-">Notre organisation </a>



        <ul class="lev2">


          <li><a href="-comite-de-direction-733-">Comité de Direction</a></li>



          <li><a href="-directions-metiers-">Directions Métiers</a></li>



          <li><a href="-unites-d-affaires-">Unités d’affaires</a></li>




          <li><a href="-sofrecom-dans-le-monde-">Pays Sofrecom</a></li>














          <li><a href="-nominations-releves-de-decision-">Nominations &amp; Relevés de décision</a></li>



          <li><a href="-le-know-how-network-">Le Know-How Network</a></li>


        </ul>

      </li>


      <li>

        <a href="-welcome-pack-">Stratégie &amp; Priorités</a>



        <ul class="lev2">



          <li><a href="-priorites-">Priorités</a></li>








          <li><a href="-agile-sofrecom-">Agile @Sofrecom</a></li>




          <li><a href="-resultats-financiers-">Résultats financiers</a></li>













          <li><a href="-transformation-">Transformation</a></li>







        </ul>

      </li>


      <li>

        <a href="-engagement-responsable-">Engagement Responsable</a>



        <ul class="lev2">



          <li><a href="-actualites-rse-">Actualités RSE</a></li>












































          <li><a href="-environnement-et-empreinte-carbone-">Environnement et Empreinte carbone</a></li>




          <li><a href="-role-de-la-rse-">Relations &amp; conditions de travail responsables</a></li>
















          <li><a href="-diversite-">Diversité et Inclusion</a></li>




          <li><a href="lancer-une-alerte-3204">Faire un signalement</a></li>




        </ul>

      </li>


      <li>

        <a href="-ethique-compliance-473-">Ethique &amp; Compliance</a>



        <ul class="lev2">



          <li><a href="-actualites-1058-">Actualités</a></li>





























          <li><a href="-procedures-et-documents-">Procédures et documents</a></li>









          <li><a href="lancer-une-alerte">Faire un signalement</a></li>




        </ul>

      </li>



    </ul>
  </nav>

  <div class="clear"></div>
</div>

<div id="mastermenu_43" class="mastermenu" style="display: none;">
  <nav id="1_43" class="lev1">
    <ul>


      <li>

        <a href="-notre-marque-">Notre marque</a>



        <ul class="lev2">


          <li><a href="-identite-de-sofrecom-">Identité de Sofrecom</a></li>




          <li><a href="histoire-de-sofrecom">Notre histoire</a></li>





          <li><a href="-nos-50-ans-">Nos 50 ans</a></li>


        </ul>

      </li>


      <li>

        <a href="-communication-externe-812-">Communication Externe</a>



        <ul class="lev2">


          <li><a href="-amea-">Présentation Corporate</a></li>




          <li><a href="-presse-">Presse</a></li>























































        </ul>

      </li>


      <li>

        <a href="-strategie-digitale-">Stratégie Digitale</a>



        <ul class="lev2">



          <li><a href="-objectifs-plans-d-actions-">Objectifs &amp; Plans d’actions</a></li>











          <li><a href="-sofrecom-2-0-512-">Communiquer sur les Réseaux sociaux</a></li>















          <li><a href="mode-operatoire-blog">Guide pratique de rédaction pour le Blog</a></li>






          <li><a href="mode-operatoire-pour-se-filmer-soi">Guide pratique pour se filmer soi-même</a></li>





          <li><a href="-knowledge-center-">Publications</a></li>


        </ul>

      </li>


      <li>

        <a href="-communication-interne-811-">Communication Interne</a>



        <ul class="lev2">



          <li><a href="-retours-d-experience-rex-">Retours d’expérience (REX)</a></li>









          <li><a href="article2762">30min chrono Connaissance des offres et  Expertises </a></li>






          <li><a href="-petits-dejeuners-et-calls-salaries-">Petits déjeuners et calls salariés</a></li>

















          <li><a href="-animations-challenges-">Animations &amp; Challenges</a></li>































































































          <li><a href="-entre-nous-">Entre Nous</a></li>











        </ul>

      </li>



    </ul>
  </nav>

  <div class="clear"></div>
</div>

<div id="mastermenu_31" class="mastermenu" style="display: none;">
  <nav id="1_31" class="lev1">
    <ul>


      <li>


        <a href="plan-marketing-priorites-actions">Plan Marketing</a>





        <ul class="lev3">
          <li><a href="plan-marketing-priorites-actions">Plan Marketing - Priorités &amp; Actions 2022</a></li>

        </ul>

      </li>


      <li>

        <a href="-documentation-commerciale-">Propositions de valeur</a>



        <ul class="lev2">


          <li><a href="-solutions-expertises-">Solutions &amp; Expertises</a></li>



          <li><a href="-approche-par-secteur-d-activite-">Approche par secteur d’activité</a></li>




          <li><a href="proposition-de-valeur-csl">Proposition de valeur CSL </a></li>




        </ul>

      </li>


      <li>


        <a href="-projets-clients-">Projets clients</a>














































































































































































































































































































        <ul class="lev3">
          <li><a href="planification-nouveaux-sites-par-l">Planification de nouveaux sites par l’IA et transformation géomarketing - Orange Madagascar</a></li>

          <li><a href="audit-et-recommandation-de-la-dtm">Audit et recommandations de la DTM ONATi</a></li>

          <li><a href="traitement-des-dechets-chez-orange">Traitement et valorisation des déchets chez Orange&nbsp;:</a></li>

          <li><a href="etude-de-marche-de-la-connectivite">Etude de marché de la connectivité</a></li>



































































































































































































































































































          <li class="all"><a href="-projets-clients-">Tous les articles (149)</a></li>

        </ul>

      </li>


      <li>


        <a href="-satisfaction-clients-">Références clients</a>












        <ul class="lev3">
          <li><a href="gestion-des-references">Gestion des références</a></li>

          <li><a href="paroles-de-clients-2016-2017">Paroles de clients 2016-2017</a></li>

          <li><a href="paroles-de-clients-2015-2016">Paroles de clients 2015-2016</a></li>

          <li><a href="carnet-de-references">Carnet de références</a></li>

        </ul>

      </li>
    </ul><ul>

    <li>

      <a href="-marketing-digital-contenus-">Marketing Digital &amp; Contenus</a>



      <ul class="lev2">



        <li><a href="le-marketing-digital-a-sofrecom">Actualités</a></li>






        <li><a href="-livres-blancs-">Livres blancs</a></li>

































        <li><a href="blog">News &amp; Insights</a></li>




      </ul>

    </li>


    <li>

      <a href="-veille-et-etudes-">Veille et études</a>



      <ul class="lev2">



        <li><a href="-mowibro-547-">MoWiBro</a></li>









        <li><a href="world-telecoms-matrix-1024">Données pays</a></li>




      </ul>

    </li>



  </ul>
  </nav>

  <div class="clear"></div>
</div>

<div id="mastermenu_8" class="mastermenu" style="display: none;">
  <nav id="1_8" class="lev1">
    <ul>


      <li>


        <a href="portail-d-acces-aux-applications">Mon SI Sofrecom</a>





        <ul class="lev2">


          <li><a href="-sof-iam-692-">SOF’IAM</a></li>


        </ul>

      </li>


      <li>


        <a href="-sofrecom-orange-collaborative-">Sofrecom - Orange Collaborative</a>












        <ul class="lev3">
          <li><a href="orange-collaborative-accompagner">Orange Collaborative&nbsp;: accompagner les nouvelles dynamiques de travail</a></li>

          <li><a href="programme-champions">Réseau de Champions</a></li>

          <li><a href="on-boarding-et-prise-en-main">On boarding et prise en main</a></li>

          <li><a href="authentification-mfa-avec">Authentification MFA avec Microsoft Authenticator</a></li>

        </ul>

      </li>


      <li>


        <a href="-securite-439-">Sécurité</a>














        <ul class="lev2">


          <li><a href="-la-politique-securite-de-sofrecom-">Sécurité globale</a></li>




          <li><a href="-securite-en-deplacement-565-">Sécurité en déplacement</a></li>
















          <li><a href="-securite-de-l-information-">Sécurité de l’information </a></li>



          <li><a href="-securite-physique-572-">Sécurité de biens physiques</a></li>


        </ul>

      </li>


      <li>


        <a href="mes-outils">Mes outils</a>





        <ul class="lev2">



          <li><a href="espace-plazza-agile-sofrecom-3056">Espace Plazza Agile@Sofrecom</a></li>





          <li><a href="-world-telecoms-matrix-677-">World Telecoms Matrix</a></li>


        </ul>

      </li>
    </ul><ul>

    <li>

      <a href="-modeles-templates-chartes-">Modèles chartés</a>



      <ul class="lev2">


        <li><a href="-modele-power-point-charte-">Modèle Power Point charté</a></li>



        <li><a href="-modele-kick-off-projet-">Modèle kick-off projet</a></li>



        <li><a href="-modele-reponse-appel-d-offres-">Modèle réponse appel d’offres</a></li>



        <li><a href="-modele-de-cv-813-">Modèle de CV </a></li>



        <li><a href="-fiches-references-">Fiches références</a></li>


      </ul>

    </li>


    <li>

      <a href="-vie-pratique-">Vie pratique</a>



      <ul class="lev2">



        <li><a href="livret-d-accueil-2351">Livret d’accueil</a></li>






        <li><a href="guide-utilisateurs-carte-corporate">Carte Corporate</a></li>






        <li><a href="-missions-1016-">Missions</a></li>









        <li><a href="-formulaires-et-procedures-france-">Formulaires et procédures</a></li>









        <li><a href="gestion-des-personnels-siege-et">Personnels expatriés</a></li>




      </ul>

    </li>


    <li>


      <a href="-vie-des-affaires-">Gestion des affaires</a>














      <ul class="lev2">



        <li><a href="piloter-une-offre-commerciale-1056">Piloter une offre</a></li>






        <li><a href="gerer-une-affaire-1391">Gérer une affaire</a></li>




      </ul>

    </li>


    <li>

      <a href="-taux-de-change-681-">Taux de change</a>



      <ul class="lev3">


      </ul>

    </li>



  </ul>
  </nav>

  <div class="clear"></div>
</div>

<div id="mastermenu_962" class="mastermenu" style="display: none;">
  <nav id="1_962" class="lev1">
    <ul>


      <li>

        <a href="-sof-france-">Sofrecom France</a>



        <ul class="lev3">


        </ul>

      </li>


      <li>

        <a href="-sof-tunisie-">Sofrecom Tunisie</a>



        <ul class="lev3">


        </ul>

      </li>


      <li>

        <a href="-sofrecom-maroc-1043-">Sofrecom Maroc</a>



        <ul class="lev3">


        </ul>

      </li>


      <li>

        <a href="-plazza-sofrecom-">Plazza Sofrecom</a>



        <ul class="lev3">


        </ul>

      </li>



    </ul>
  </nav>

  <div class="clear"></div>
</div>

<div id="mastermenu_968" class="mastermenu" style="display: none;">
  <nav id="1_968" class="lev1">
    <ul>


      <li>

        <a href="-intranet-orange-innovation-">Intranet Orange Innovation</a>



        <ul class="lev3">


        </ul>

      </li>


      <li>

        <a href="-plazza-tgi-">Plazza Orange Innovation</a>



        <ul class="lev3">


        </ul>

      </li>



    </ul>
  </nav>

  <div class="clear"></div>
</div><!-- FIN mastermenu -->









</div><!-- FIN bloc home -->

