<div class="container fluid mt-5" style="height: 200px">

  <section class="vh-100  " >

    <div class="container-fluid h-custom" style="margin-top: 15%">

      <div class="row d-flex justify-content-center align-items-center   h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">

          <img src="assets/images/rse.jpg"
                class="img-fluid  rounded-left  " alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="loginFormGroup"  >
            <div class="mb-3">
              <label  class="form-label" >Email address</label>
              <input type="email" formControlName="username" value="reda.elmallahi@sofrecom.com" placeholder="exemple@sofrecom.com" class="form-control"  aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
              <label  class="form-label">Password</label>
              <input type="password" formControlName="password"  class="form-control" >
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" formControlName="remember" class="form-check-input">
              <label class="form-check-label" >Remember me</label>
            </div>
            <button  type="submit" class="btn btn-primary" routerLink="/navigation">Connexion</button>
          </form>

        </div>
      </div>
    </div>

  </section>
</div>
