<div class="row mb-5" style="margin-top: 15%">
  <div class="col-md-4">
    <a routerLink="/rseidea">
      <p-image src="assets/images/veille.jpg" alt="Image" width="300">

      </p-image>
      <h2 >Veille</h2>
    </a>

  </div>
  <div class="col-md-4">
    <a routerLink="/rseidea">
    <p-image src="assets/images/newIdea.jpg" alt="Image" width="300">

    </p-image>
    <h2 >Add New Idea</h2>
      </a>
  </div>
  <div class="col-md-4">
    <a routerLink="/rseideas">
    <p-image src="assets/images/myideas.jpg" alt="Image" width="300">

    </p-image>
    <h2 >My Ideas</h2>
    </a>
  </div>

</div>
